:root {
  --color1: #4A628A;
  --color2: #7AB2D3;
  --color3: #B9E5E8;
  --color4: #DFF2EB;
  --font-color: #ffffff;
  --el-menu-bg-color: transparent;
  --el-menu-hover-bg-color: var(--color1);
  --el-menu-text-color: var(--font-color);
  --el-color-primary: var(--color4);
}